{% extends "base.html" %}
{% block body %}
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>All Profiles</strong>
		</div>
		{% if profiles %}
		<ul>
			{% for p in profiles %}
			<li>
				<a href="{% url 'profile_page' p.id %}">{{p.name}} / {{p.email}}</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No profiles were found</p>
		{% endif %}
	</div>
	<div class="panel panel-default">
		{% if current_profile.received_invitations.count %}
		<div class="panel-heading">
			<strong>invitations awaiting approval</strong>
		</div>
		<ul class="list-group">
			{% for invite in current_profile.received_invitations.all %}
			<li class="list-group-item">
				{{ invite.requester.name }}
				<a href="#" class="pull-right">Accept</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<div class="panel-body">
			<p>No invitation received</p>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}